html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

#start{
    display: none;
}

*{
    text-shadow: 2px 2px 3px #000 !important;
}

input[type="text"], input[type="password"]{
    /*text-shadow: 2px 2px 3px #000 !important;*/
    box-shadow: inset 0px 0px 3px #000 !important;
    background: #242a30 !important;
    color: #fff !important;
    border: none !important;
}

input[type="text"]:focus, input[type="password"]:focus {
    background: #242a30 !important;
    color: #007bff !important;
}

.letter-info{
    /*text-shadow: 2px 2px 3px #000;*/
    box-shadow: inset 0px 0px 3px #000 !important;
    background: #242a30 !important;
}

/*.letter-button{*/
    /*position: absolute;*/
    /*top:50%;*/
    /*z-index: 5;*/
/*}*/

/*.letter-button.next{*/
    /*right:0;*/
/*}*/

.btn{
    box-shadow: 1px 1px 2px #000 !important;
}

.suggestions-suggestions{
    /*text-shadow: 2px 2px 3px #000;*/
    box-shadow: inset 0px 0px 3px #000;
    background: #242a30 !important;
    border: none !important;
}

#on_top{
    width:1.4em;
    height:1.4em;
    line-height: 1.4em;
    position: fixed;
    right: 2%;
    bottom: 5%;
    /*text-shadow: 2px 2px 3px #000;*/
    font-size:2em;
    display: none;
}

.pagination > li > a, .pagination > li.disabled > span{
    height:3em;
    padding:5px 10px;
    margin: 0 2px;
    /*text-shadow: 2px 2px 3px #000;*/
    box-shadow: inset 0px 0px 3px #000;
    background: #242a30;
    color: #fff;
    border: none;
}

.pagination > li > a:hover{
    text-decoration: none;
    background: #343a40;
    color: #007bff;
}

.pagination > li.active > a{
    background: #343a40;
    color: #007bff;
}

.pagination > li.disabled > span{
    background: #343a40;
}

